.categories-main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 80px;
}

.categories-main_title {
    color: rgb(38, 82, 38);
    margin-top: 44px;
    border-bottom: 1px solid green;
    font-family: 'Reenie Beanie', cursive;
}

.categories-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.categories {
    width: 12em;
    text-align: center;
    display: inline-block;
    margin-left:1%;
    margin-right: 1%;
    margin-bottom: 3%;
    margin-top: 1%;
    padding: 5px;
}   

.categorie {
    padding: 15px;
    border-radius: 4px;
    transition: 0.4s;
}

.categorie:hover {
    box-shadow:0 0 0.5em rgb(187, 196, 187);
}

.categories-title {
    color: rgb(27, 151, 27);
    font-size: 19px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid green;
    text-align: none;
}

.details-categorie {
    text-decoration: none;
}

.details-categorie:hover {
    color: green;
    text-decoration: none;
}