.inscription_div {
    width: 100%;
}

.inscription_title {
    color: rgb(14, 99, 14);
    font-size: 35px;
    border-bottom: 1px solid green;
    margin-top: 60px;
}

.form-input {
    text-align: center;
    margin-bottom: 20px;
}

.Iusername {
    border: none;
    border-bottom: 1px solid;
    width: 20%;
}

.Iemail {
    border: none;
    border-bottom: 1px solid;
    width: 20%;
}

.Ipass {
    border: none;
    border-bottom: 1px solid;
    width: 20%;
}

.IpassConfirm {
    border: none;
    border-bottom: 1px solid;
    width: 20%;
}

.submit-inscription {
    background-color: rgb(200, 230, 175);;
    color: rgb(56, 116, 56);
    border: 1px solid green;
    border-radius: 4px;
    color: green;
    width: 170px;
    display: block;
    margin: auto;
    padding: 8px;
}

.submit-inscription:hover {
    background-color: rgb(104, 172, 87);
    color: rgb(226, 235, 193);
}

.submit-inscription:active {
    background-color: rgb(73, 110, 64);
    color: rgb(226, 235, 193);
    box-shadow:0 0 1em rgb(187, 233, 187);
}

.panel-body{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.486);
    border-top: rgb(70, 124, 33) 2px solid;
    border-left: rgb(70, 124, 33) 2px solid;
    border-right: rgb(70, 124, 33) 2px solid;
    border-radius: 45%;
    font-family: 'Architects Daughter';
}

.modalBtn {
    border-radius: 45%;
    background-color:rgba(96, 204, 23, 0.554);
    margin-left: 33%;
    margin-right: 33%;
    color: white;
    font-family: 'Architects Daughter';
}

.p-sub{
    margin-top: 22px;
}

.close {
    display: none;
}